body {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
}

.toolbox {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    justify-content: center;
    margin-bottom: 20px;
}

.toolbox img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.toolbox img.active {
    border: 2px solid blue;
}

.tool-content {
    margin-top: 20px;
}

input, button {
    margin: 10px;
    padding: 5px;
}

#wallpaper-calculator {
    display: none;
}

#unit-converter {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Minesweeper styles */
#game {
    text-align: center;
}

#board {
    display: inline-grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 1px;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #999;
    margin-top: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.cell.revealed {
    background-color: #fff;
}

.cell.mine {
    background-color: red;
    color: white;
    font-size: 20px;
}

.cell.flagged {
    background-color: #ff9999;
}

#status {
    margin-top: 20px;
    font-size: 1.2em;
}

#mines-left {
    margin-top: 10px;
    font-size: 1em;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#restart {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#qr-reader {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#qr-reader__scan_region {
    background: white;
}

#qr-reader__dashboard {
    padding: 10px;
}

#qr-reader__scan_region video {
    max-width: 100%;
}
